<header class="home-header grid">
  <p class="announcement grid-full">
    Nov 17th, 2025 • Mythic has changed authentication providers and you may experience problems logging in. You can find more information in <a href="/help/login/">our help documents</a>.
  </p>
  <div class="banner-text">
    <span class="beta">Currently in beta</span>
    <h1>{{ bannerH1 }}</h1>
    <h2>Mythic is a super-fast online* table-top RPG tool that helps bring your adventures to life.</h2>
    <div class="actions">
      <a class="btn" href="https://mythicnz.okta.com/signin/register"><span>Create a free account</span></a>
      <a class="btn btn-tertiary" href="https://app.mythic.nz"><span>Already have an account? Log in</span></a>
    </div>
    <p class="info"><small><i>* Mythic works offline, too!</i></small></p>
  </div>
  <img src="/assets/mascot.svg" alt="" aria-hidden />
</header>
<hr />