<header class="home-header grid">
  <div class="announcement grid-full">
    <h1>Mythic sign in error</h1>
    <p>Mythic is currently experiencing an issue with our authentication provider preventing users from logging in to the app. We are working to solve this as fast as we can. Status updates will be posted at <a href="https://dice.camp/@MythicNZ">our Mastodon account</a> and in <a href="https://discord.gg/AxKF3EahCH">our Discord channel</a>.</p>
    <p>We're very sorry for the downtime.</p>
  </div>
  <div class="banner-text">
    <span class="beta">Currently in beta</span>
    <h1>{{ bannerH1 }}</h1>
    <h2>Mythic is a super-fast online* table-top RPG tool that helps bring your adventures to life.</h2>
    <div class="actions">
      <a class="btn" href="https://mythicnz.okta.com/signin/register"><span>Create a free account</span></a>
      <a class="btn btn-tertiary" href="https://app.mythic.nz"><span>Already have an account? Log in</span></a>
    </div>
    <p class="info"><small><i>* Mythic works offline, too!</i></small></p>
  </div>
  <img src="/assets/mascot.svg" alt="" aria-hidden />
</header>
<hr />