<header class="page-header grid">  <div class="announcement grid-full">
    <h1>Mythic sign in error</h1>
    <p>Mythic is currently experiencing an issue with our authentication provider preventing users from logging in to the app. We are working to solve this as fast as we can. Status updates will be posted at <a href="https://dice.camp/@MythicNZ">our Mastodon account</a> and in <a href="https://discord.gg/AxKF3EahCH">our Discord channel</a>.</p>
    <p>We're very sorry for the downtime.</p>
        <fedi-tag host="dice.camp" account="109514600911915872" tag="MythicUpdates"></fedi-tag>
  </div>
  <div class="grid-full banner-text">
    <h1>{{ bannerH1 }}</h1>
    <h2>{{ bannerH2 | safe }}</h2>
  </div>
  <img src="/assets/mascot.svg" alt="" aria-hidden />
</header>
<hr />