  </main>
  <footer>
    <p class="social">Join us: 
      <a rel="me" href="https://dice.camp/@MythicNZ" title="Mythic's Mastodon account">{% include "../assets/mastodon.svg" %}</a>
      <a href="https://discord.gg/ZPKte2y" title="Mythic's Discord server">{% include "../assets/discord-brands.svg" %}</a>
      <a href="https://twitter.com/MythicNZ" title="Mythic's Twitter account">{% include "../assets/twitter-square-brands.svg" %}</a>
      <a href="https://facebook.com/MythicNz" title="Mythic's Facebook page">{% include "../assets/facebook-square-brands.svg" %}</a>
    </p>
    <a href="/privacy/">Privacy Policy</a> | <a href="/code-of-conduct/">Code of Conduct</a> | <a href="mailto:contact@mythic.nz">contact@mythic.nz</a>
  </footer>
  <script src="/script.js"></script>
</body>

</html>
