.grid {
  display: grid;
  gap: calc(4 * var(--padding, 1rem));
  grid-template-columns: 1fr;
  @include min-width($screen-width-sm) {
    grid-template-columns: 3fr 3fr 2fr 1fr 3fr 3fr 1fr 2fr 3fr 3fr;
  }
}

[class^="grid-"] {
  grid-column: auto;
}

@include min-width($screen-width-sm) {
  .grid-full {
    grid-column: 1 / 11;
  }
  .grid-wide {
    grid-column: 2 / 10;
  }
  .grid-medium {
    grid-column: 3 / 9;
  }
  .grid-narrow {
    grid-column: 4 / 8;
  }

  .grid-pull-left {
    grid-column: 2 / 4;
  }
  .grid-pull-right {
    grid-column: 8 / 10;
  }

  .grid-left-sm {
    grid-column: 4 / 6;
  }
  .grid-right-sm {
    grid-column: 6 / 8;
  }
  .grid-left {
    grid-column: 3 / 6;
  }
  .grid-right {
    grid-column: 6 / 9;
  }
  .grid-left-lg {
    grid-column: 2 / 6;
  }
  .grid-right-lg {
    grid-column: 6 / 10;
  }
  .grid-left-full {
    grid-column: 1 / 6;
  }
  .grid-right-full {
    grid-column: 6 / 11;
  }

  [class^="grid-right"] + [class^="grid-left"] {
    order: -1;
  }
}

@include min-width($screen-width-lg) {
  .grid-lg-left {
    grid-column: 3 / 6;
  }
  .grid-lg-right {
    grid-column: 6 / 9;
  }
  .grid-lg-left-lg {
    grid-column: 2 / 6;
  }
  .grid-lg-right-lg {
    grid-column: 6 / 10;
  }
}

.grid-center {
  justify-self: center;
}
.grid-align-left {
  justify-self: left;
}
.grid-align-right {
  justify-self: right;
}
