---
class: 404
title: "Page not found"
permalink: 404.html
---

{% include "header.html" %}

<header class="page-header grid-full grid">
  <div class="grid-left-lg">
    <h1>Are you lost, Adventurer?</h1>
  </div>
  <div class="grid-right-lg">
    <img src="/assets/mascot-404.svg" alt="A very confused dragon who can't find the page he's looking for." />
  </div>
</header>

<div class="grid">
  <section class="grid-wide">
    <h2>
      Maybe we can help you find your way.
    </h2>
    <p>
      <a href="https://app.mythic.nz/">Visit the dashboard</a> to get started using the Mythic editor. 
    </p>
    <p>
      Need a hand? Take a look at our <a href="https://mythic.nz/help">help scrolls</a> for information on how to
      use Mythic.
    </p>
    <p>
      If you need to reach us directly, send us a letter by a raven at
      <a href="mailto:contact@mythic.nz">contact@mythic.nz</a> and one of our wizards will be in touch.
    </p>
  </section>
</div>

{% include "footer.html" %}
