---
layout: layout.njk
class: home
banner: home
bannerH1: The easiest way to write, organise, and run your tabletop RPG game!
title: "Free online tool for tabletop RPG content"
description: "Mythic is a super-fast online TTRPG tool that helps bring your adventures to life. Organise your campaign, write an adventure, and streamline your gameplay."
---

<section class="grid for-you">
  <h2 class="grid-wide">Create a world, organise your campaign, write an adventure, and streamline your gameplay.</h2>
  <article aria-label="What the tool does" class="grid-full grid">
    <div class="colour-and-shadow grid-left-full">
      <img src="/assets/d10.svg" />
      <h3>For game masters</h3>
      <ul>
        <li>Designed for frictionless use at the table</li>
        <li>Related content shown within current page</li>
        <li>Fast, searchable, and organised your way</li>
        <li>Find new and unique content *</li>
        <li>Beginner to experienced adventures *</li>
      </ul>
    </div>
    <div class="colour-and-shadow grid-right-full">
      <img src="/assets/quill.svg" />
      <h3>For writers &amp; creators</h3>
      <ul>
        <li>RPG content writing made simple</li>
        <li>Automatically link between pages</li>
        <li>Easily import and export your writing</li>
        <li>Package and monetise your creations *</li>
        <li>Optionally allow others to modify and re-sell your content *</li>
      </ul>
    </div>
    <span class="grid-full grid-center"
      ><small><i class="info">* Upcoming features</i></small></span
    >
  </article>
  <a class="btn grid-narrow" href="https://mythicnz.okta.com/signin/register"><span>Create a free account</span></a>
</section>

<section id="details" aria-label="More details">
  <figure class="grid">
    <figcaption class="grid-left-lg grid-lg-left">
      <h3>Focus on your adventures, not loading screens</h3>
      Don’t let slow loading get in the way of running your game. Mythic supports pre-caching so your content is ready
      to go whenever you are.
    </figcaption>
    <img src="/assets/archery_target.svg" alt="" class="home-feature-icon" />
    <!--
    <video class="grid-right-full grid-lg-right-lg" preload="meta" loop muted controls playsinline>
      <source src="/assets/video/searchable_1024.webm" type="video/webm; codecs=vp9" />
      <source src="/assets/video/searchable_vp8_1024.webm" type="video/webm; codecs=vp8" />
      <source src="/assets/video/searchable_1024.mp4" type="video/mp4" />
    </video>
    -->
  </figure>

  <figure class="grid">
    <figcaption class="grid-right-lg grid-lg-right">
      <h3>Easy page navigation with smart linking</h3>
      Mythic automatically creates links when the text matches a page title. With preview pop-ups you can view your
      linked content without leaving the current page.
    </figcaption>
    <video class="grid-left-full grid-lg-left-lg" preload="meta" loop muted controls playsinline>
      <source src="/assets/video/auto_linking_1024.webm" type="video/webm; codecs=vp9" />
      <source src="/assets/video/auto_linking_vp8_1024.webm" type="video/webm; codecs=vp8" />
      <source src="/assets/video/auto_linking_1024.mp4" type="video/mp4" />
    </video>
  </figure>

  <figure class="grid">
    <figcaption class="grid-left-lg grid-lg-left">
      <h3>Read and view your content offline</h3>
      No internet connection? No worries, Mythic saves previously viewed pages for offline reading so you can run your
      RPG campaign from anywhere in the world.
    </figcaption>
    <img src="/assets/offline.svg" alt="" class="home-feature-icon" />
    <!--
    <video class="grid-right-full grid-lg-right-lg" preload="meta" loop muted controls playsinline>
      <source src="/assets/video/artist_1024.webm" type="video/webm; codecs=vp9" />
      <source src="/assets/video/artist_vp8_1024.webm" type="video/webm; codecs=vp8" />
      <source src="/assets/video/artist_1024.mp4" type="video/mp4" />
    </video>
    -->
  </figure>
  <div class="grid">
    <a class="btn grid-narrow grid-center" href="https://mythicnz.okta.com/signin/register"
      ><span>Join our beta for free</span></a
    >
  </div>
</section>

<hr />

<section aria-label="Features" class="features grid">
  <div class="grid-medium">
    <h2>Creating and using your TTRPG content is easier than it’s ever been</h2>
    <p>
      Our goal is to make writing and reading content fast and seamless, without bogging down your creative process. No
      more digging through a stack of loose papers at the table or waiting for that giant PDF to load and then scrolling
      through to find the correct page.
    </p>
    <p><a href="/features/">Learn more about Mythic's features.</a></p>
  </div>
</section>

<hr />

<section class="grid">
  <div class="grid-wide">
    <h1>Start creating your adventures with Mythic</h1>
    <a class="btn" href="https://mythicnz.okta.com/signin/register"><span>Join our beta today</span></a>
  </div>
</section>

<section aria-label="Features" class="social-media grid">
  <h2 class="grid-medium">Join the Mythic community</h2>
  <div class="grid-medium grid-center">
    <a rel="me" href="https://dice.camp/@MythicNZ" title="Mythic's Mastodon account" class="icon">{% include "./assets/mastodon.svg" %}</a>
    <a href="https://discord.gg/AxKF3EahCH" title="Mythic's Discord server" class="icon"
      >{% include "./assets/discord-brands.svg" %}</a
    >
  </div>
  <p class="grid-medium">
    Have questions? Take a look through our
    <a href="/help/" title="Go to Mythic help">help scrolls</a> or
    <a href="mailto:contact@mythic.nz" title="Send Mythic an email">send us a letter by raven</a>.
  </p>
</section>
